.sider-style {
  text-align: center;
  line-height: 120px;
  color: #fff;
  background-color: #3ba0e9;
  position: fixed;
}
.menu-style {
  height: 100vh;
  width: 240px;
  position: fixed;
}
.ant-menu-inline-collapsed {
  width: 80px !important;
}

@media screen and (max-width: 640px) {
  aside {
    display: none;
  }
}
